/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Custom Variables
   ========================================================================== */

@black: #000;
@white: #fff;
@light-blue: #c5f0f8;
@medium-blue: #2ecffe;
@blue: #148caf;
@pink: #f10057;
@light-green: #d8eb4f;
@green: #34b459;
@neon: #f1f800;

/* ==========================================================================
   Bootstrap Overrides
   ========================================================================== */

@font-family-sans-serif: "proxima-nova", Helvetica, Arial, sans-serif;

@body-bg: @light-blue;
@text-color: @black;
@link-color: @blue;
@link-hover-color: @black;
@page-header-border-color: none;

@navbar-border-radius: 0;
@navbar-default-border: none;
@navbar-default-color: @white;
@navbar-default-link-color: @white;
@navbar-default-link-hover-color: @white;
@navbar-default-link-hover-bg: @black;
@navbar-default-link-active-color: @white;
@navbar-default-link-active-bg: @black;
@navbar-height: 80px;

@dropdown-bg: @black;
@dropdown-border: @black;
@dropdown-link-color: @medium-blue;
@dropdown-link-hover-color: darken(@gray-dark, 5%);
@dropdown-link-hover-bg: @pink;
@dropdown-link-active-color: @component-active-color;
@dropdown-link-active-bg: @component-active-bg;
@dropdown-link-disabled-color: @gray-light;
@dropdown-header-color: @gray-light;

/* ==========================================================================
   Base
   ========================================================================== */

.text-center .img-responsive {
   margin-left: auto;
   margin-right: auto;
}
img, .wp-caption, embed, object {
   max-width: 100%;
}
body {
   background: @light-blue url(../img/bg.jpg) top center no-repeat;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: bold;
   letter-spacing: -.04em;
}
h1, h2 {
   text-transform: uppercase;
}
.lead {
   font-weight: bold;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   .logo-container {
      a {
         display: inline-block;
      }
      img {
         margin: 0 auto;
      }
   }
}
.navbar-default {
   border: none 0;
   .navbar-nav > li {
      font-weight: bold;
      text-transform: uppercase;
   }
}
.navbar {
   margin-bottom: 0;
   background: @pink url(../img/pinkwood.jpg);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .dropdown-menu {
   background: @black url(../img/blackwood.jpg);
}
.sub-nav {
   background: @black url(../img/blackwood.jpg);
   padding: 12px 0 1px 0;
}
.sub-nav li {
   display: inline-block;
}
.sub-nav li a {
   text-decoration: none;
}
.dropdown-menu>li>a {
   font-size: 1.6em;
   font-weight: bold;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
   background: @neon url(../img/neonwood.jpg);
   color: @black;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
   background: @pink url(../img/pinkwood.jpg);
   color: @white;
}
.dropdown, .navbar, .dropdown-menu {
   border: 0;
}
.phone a {
   font-size: 1.6em;
   font-weight: bold;
   color: @medium-blue;
}
.cart a {
   font-size: 1.6em;
   padding: 0 20px;
   color: @green;
}
.user a {
   font-size: 1.6em;
   color: @white;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.page-header {
   text-align: center;
}
.amount {
   font-size: 3em;
   font-weight: bold;
}
.products li, .tabs li {
   list-style-type: none;
}
.help-phone {
   font-size: 3em;
}
.published {
   opacity: 0.5;
}
.ask {
   padding: 40px;
}
.product-lead {
   font-size: 6em;
}

/* ==========================================================================
   Nav Tabs
   ========================================================================== */

.nav-tabs {
   margin-top: 3em;
   border-bottom: none;
   margin-bottom: -10px;
}
.nav-tabs > li > a {
   border: none 0;
   font-size: 1.5em;
   border-radius: 0;
   margin-left: 0; margin-right: 0;
   text-transform: uppercase;
   font-weight: bold;
}
.nav-tabs > li {
   background: @pink url(../img/pinkwood.jpg);
   color: white;
   & > a { 
      color: white;
      &:hover,
      &:active,
      &:focus {
         background: @neon url(../img/neonwood.jpg);
         color: black;
      }
   }
   &.active {
      a,
      a:hover,
      a:focus,
      a:active {
      background: @white url(../img/whitewood.jpg);
         border: none 0;
         border-radius: 0;
         color: black;
      }
   }
}
.tab-pane {
   background: @white url(../img/whitewood.jpg);
   color: black;
   padding: 0.5em 1em 2em 1em;

   a {
   }
   h1, h2, h3, h4, h5, h6 {
      text-shadow: none;
   }
}

/* ==========================================================================
   WooCommerce Tabs
   ========================================================================== */

.woocommerce-tabs .entry-content {
   background: @white url(../img/whitewood.jpg);
   color: black;
}

.woocommerce-tabs {
   border-radius: 0;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
   color: @black;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs {
   padding: 0;
   margin: 0;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
   border: none;
   background: @pink url(../img/pinkwood.jpg);

}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
   text-shadow: none;
   color: @white;
   padding: 10px;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
   -webkit-border-top-left-radius: 0;
   -webkit-border-top-right-radius: 0;
   -webkit-border-bottom-left-radius: 0;
   -webkit-border-bottom-right-radius: 0;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
   border: none;
   left: 0px; 
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
   border: none;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after {
    right: 0px; 
    -webkit-border-bottom-left-radius: 0; 
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0; 
    border-width: 0; 
    box-shadow: none; 
}

.woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel {
   padding: 20px;
}

.woocommerce div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce-page #content div.product div.images img {
    box-shadow: none; 
}

/* ==========================================================================
   WooCommerce specific
   ========================================================================== */

.booking_calender, .time_slot {
   margin-left: 10px;
}
.product .sku, .product_meta { display: none !important; }

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   margin-top: 150px;
}
.payment-list {
   padding-bottom: 40px;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* ==========================================================================
   Roots/Gravity Forms
   ========================================================================== */

.gform_wrapper ul {
  .list-unstyled();
}
.gform_wrapper li {
  .form-group();
}
.gform_wrapper form {
  margin-bottom: 0;
}
.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: @state-danger-text;
}
.ginput_container input,
.ginput_container select,
.ginput_container textarea {
  .form-control();
}
.ginput_container textarea {
  height: auto;
}
.gform_button {
  .btn();
  .btn-primary();
}
.gform_wrapper .gfield_error {
  .gfield_label {
    color: @state-danger-text;
  }
  input,
  select,
  textarea {
    border-color: @alert-danger-border;
    background-color: @alert-danger-bg;
    color: @alert-danger-text;
    .form-control-focus(@alert-danger-text);
  }
}
.validation_error {
  .alert();
  .alert-danger();
}
#gforms_confirmation_message {
  .alert();
  .alert-success();
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
   .navbar-default {
      // Center navbar items
      // See http://stackoverflow.com/questions/19073813/how-to-center-navbar-nav-element-in-bootstrap-3
      .navbar-nav {
         margin: 0 auto;
         display: table;
         table-layout: fixed;
         float: none;
      }
   }
   h1 {
      font-size: 4em;
      line-height: .8em;
   }
}

@media (min-width: @screen-md-min) {
   h1 {
      font-size: 6em;
      line-height: .8em;
   }
}

@media (min-width: @screen-lg-min) {
   h1 {
      font-size: 9em;
      line-height: .8em;
   }
}